{% extends 'app/layouts/main.html' %}
{% load i18n form_tags ui_tags %}

{% block title %}{% trans 'Logs' %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Logs' %}</li>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans 'Filters' %}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
        <form action="">
            <div class="box-body">
                <div class="row">
                    {% if user.is_superuser %}
                        <div class="col-md-4">
                            {% include 'app/layouts/forms/vertical/_input.html' with field=filter.form.user %}
                        </div>
                    {% endif %}
                    <div class="col-md-4">
                        {% include 'app/layouts/forms/vertical/_input.html' with field=filter.form.content_type %}
                    </div>
                    <div class="col-md-4">
                        {% include 'app/layouts/forms/vertical/_input.html' with field=filter.form.object_id %}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-default">{% trans 'Search' %}</button>
            </div>
        </form>
    </div>
    <div class="box">
        <div class="box-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans 'Action' %}</th>
                        <th>{% trans 'Time' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for log in object_list %}
                    <tr>
                        <td>{% action_icon log.action %}&nbsp;&nbsp;{{ log }}</td>
                        <td>
                            <span class="text-muted">{{ log.action_time|timesince }} {% trans 'ago' %}</span>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm pull-right">
                                <a href="{% url 'log_detail' pk=log.pk %}" class="btn btn-default" data-toggle="tooltip" title="{% trans 'Detail' %}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">
                            <p class="text-center">{% trans 'No logs found.' %}</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            {% pagination page_obj %}
        </div>
    </div>
{% endblock %}