{% extends 'app/account/layouts/account.html' %}
{% load i18n ui_tags %}

{% block title %}{% trans 'API settings' %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'API settings' %}</li>
{% endblock %}

{% block content %}
    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="box-body">
            {% if current_user.is_superuser %}
                {% include 'app/layouts/forms/horizontal/_input.html' with field=form.api_user %}
            {% endif %}
            {% include 'app/layouts/forms/horizontal/_input.html' with field=form.api_token span_class='fa fa-key' %}
        </div>
        <div class="box-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    {% if current_user.is_apiuser %}
                        <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
                    {% endif %}
                    <a href="{{ api_url }}" target="_blank" class="btn btn-default">
                        <i class="fa fa-globe"></i>
                        {% trans 'Goto API' %}
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
