{% extends 'app/layouts/base.html' %}
{% load i18n static %}

{% block page_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/adminlte/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/adminlte/css/skins/skin-blue.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
{% endblock %}

{% block body_class %}hold-transition skin-blue{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include 'app/layouts/shared/header.html' %}
        {% include 'app/layouts/shared/sidebar.html' %}

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    {% block title %}{% trans 'Page Title' %}{% endblock %}
                </h1>
                {% block breadcrumbs_wrapper %}
                    <ol class="breadcrumb">
                        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> {% trans 'Dashboard' %}</a></li>
                        {% block breadcrumbs %}{% endblock %}
                    </ol>
                {% endblock %}
            </section>
            <section class="content">
                {% include 'app/layouts/shared/flash_messages.html' %}
                {% block content_wrapper %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </section>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script src="{% static 'vendor/adminlte/js/app.js' %}"></script>
{% endblock %}
