{% extends 'app/users/layouts/users.html' %}
{% load form_tags i18n ui_tags %}

{% block title %}{% trans 'Change' %} <strong>{{ user }}</strong> {% trans 'password' %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'users' %}">{% trans 'Users' %}</a></li>
    <li><a href="{% url 'update_user' pk=user.pk %}">{{ user }}</a></li>
    <li class="active">{% trans 'Change password' %}</li>
{% endblock %}

{% block content %}
    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="box-body">
            {% include 'app/layouts/forms/horizontal/_input.html' with field=form.new_password1 %}
            {% include 'app/layouts/forms/horizontal/_input.html' with field=form.new_password2 %}
        </div>
        <div class="box-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
                    {% back_btn request 'users' %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}