{% extends 'app/layouts/main.html' %}
{% load i18n ui_tags %}

{% block title %}{% trans 'Users' %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Users' %}</li>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools">
                <a href="{% url 'create_user' %}" class="btn btn-sm btn-success pull-right">
                    <i class="fa fa-plus"></i> {% trans 'ADD USER' %}
                </a>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans 'Email' %}</th>
                        <th>{% trans 'Full Name' %}</th>
                        <th>{% trans 'Last login' %}</th>
                        <th>{% trans 'Is staff?' %}</th>
                        <th>{% trans 'Is superadmin?' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for user in object_list %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.get_full_name }}</td>
                        <td>{{ user.last_login|default_if_none:'' }}</td>
                        <td>{% true_false_icon user.is_staff %}</td>
                        <td>{% true_false_icon user.is_superuser %}</td>
                        <td>
                            <div class="btn-group btn-group-sm pull-right">
                                <a href="{% url 'update_user_permissions' pk=user.pk %}" class="btn btn-default" data-toggle="tooltip" title="{% trans 'Permissions' %}">
                                    <i class="fa fa-lock"></i>
                                </a>
                                <a href="{% url 'set_user_password' pk=user.pk %}" class="btn btn-default" data-toggle="tooltip" title="{% trans 'Set/change password' %}">
                                    <i class="fa fa-hashtag"></i>
                                </a>
                                <a href="{% url 'update_user' pk=user.pk %}" class="btn btn-default" data-toggle="tooltip" title="{% trans 'Edit' %}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{% url 'delete_user' pk=user.pk %}" class="btn btn-default" data-toggle="tooltip" title="{% trans 'Delete' %}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan=5">
                            <p class="text-center">{% trans 'No users found.' %}</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            {% pagination page_obj %}
        </div>
    </div>
{% endblock %}