{% extends 'app/layouts/main.html' %}
{% load form_tags i18n ui_tags %}

{% block title %}{% trans 'Edit' %} <strong>{{ object }}</strong>{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'users' %}">{% trans 'Users' %}</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <form role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="box-body">
                {% include 'app/layouts/forms/horizontal/_input.html' with field=form.email %}
                {% include 'app/layouts/forms/horizontal/_input.html' with field=form.first_name %}
                {% include 'app/layouts/forms/horizontal/_input.html' with field=form.last_name %}
                {% include 'app/layouts/forms/horizontal/_checkbox.html' with field=form.is_staff %}
                {% include 'app/layouts/forms/horizontal/_checkbox.html' with field=form.is_superuser %}
            </div>
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
                        {% back_btn request 'users' %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}