{% load form_tags %}

<div class="form-group {% if field.errors %}has-error{% endif %} {{ class }} {% if span_class %}has-feedback{% endif %}">
    {% if not hide_label %}
        <label class="control-label" for="{{ field.auto_id }}">
            {{ field.label }}
            {% if field.field.required %}<span class="required" aria-required="true">* </span>{% endif %}
        </label>
    {% endif %}
    {{ field|addclass:'form-control' }}
    {% if span_class %}
        <span class="{{ span_class }} form-control-feedback"></span>
    {% endif %}
    {% include 'app/layouts/forms/_help_block.html' with field=field %}
    {% include 'app/layouts/forms/_error_block.html' with field=field %}
</div>
